.tete {
    border-bottom: 2px solid rgba(209, 161, 150, 1);
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

h1 {
    color: red;
    text-shadow: 11px 11px 6px rgba(209, 161, 150, 1);
}

.corps {
    
    height: 500px;
    width: 100%;
    margin-bottom: 10px;
}

.sect {

    border-radius: 10px;
    box-shadow: 11px 11px 6px rgba(209, 161, 150, 1);
    height: 450px;
    width: 33%;
    margin: 20px;
    background-image: url(img/flamingo-3747573_640.jpg);
}
.section{
    border-radius: 10px;
    box-shadow: 11px 11px 6px rgba(209, 161, 150, 1);
    height: 450px;
    width: 60%;
    
    padding-left: 10px;
    float: right; 
}

.pied {
    background-color: rgba(209, 161, 150, 1);
    height: 50px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
}
